[user]
	email = codeskyblue@gmail.com
	name = codeskyblue
[push]
	default = simple
[credential]
	helper = cache --timeout=36000000
[merge]
	tool = diffconflicts
[mergetool "diffconflicts"]
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
